<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-item>
        <ion-grid>
          <ion-row>
            <div class="ion-text-center">
              <h3>- Daily To-Do -</h3>

              Quit Doom scrolling and start winning at life! An App to keep
              track of repeating daily tasks. <br /><br />

              Do you spend more time than you'd like to admit on Facebook or
              Instagram? Do you Doom scroll the next cat video when you have
              stacks of things to do but never seem to get on top of them? Then
              this app is for you! <br /><br />

              Daily To-Do offers up a list of mini-tasks that you can pick from
              that will get you in the right direction any time you want
              <br /><br />

              This is an open source project, if you have any suggestions please
              take a look at the gitlab homepage
              <ion-button @click="linkClick"
                >https://gitlab.com/martinogg/dailytodo/</ion-button
              >
              <br /><br />

              Build: {{ shortCommit }} <br /><br />
            </div>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonButtons,
  IonPage,
  IonTitle,
  IonToolbar,
  IonBackButton,
  IonGrid,
  IonRow,
  IonItem,
  IonHeader,
  IonButton,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { shortCommitHash } from "@/shortCommitHash";
import { useRouter } from "vue-router";
import { analyticsLog } from "@/helpers/Analytics";

export default defineComponent({
  name: "AboutPage",
  components: {
    IonContent,
    IonButtons,
    IonPage,
    IonTitle,
    IonToolbar,
    IonBackButton,
    IonItem,
    IonGrid,
    IonRow,
    IonHeader,
    IonButton,
  },
  computed: {
    shortCommit() {
      return shortCommitHash;
    },
  },
  data() {
    return {
      passedCheck: false,
    };
  },
  setup() {
    const title = "About Daily TO-DO";
    const router = useRouter();

    return { title, router };
  },
  methods: {
    linkClick() {
      analyticsLog("GitLabLinkClicked");
      window.open(
        "https://gitlab.com/martinogg/dailytodo/",
        "_system",
        "location=yes"
      );
      return false;
    },
  },
});
</script>

<style scoped>
</style>
