<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-button @click="AddTapped">Add</ion-button>
      <ion-item>
        <br />Hint: Try to make tasks specific, small and many so you are more
        likely to do them. <br />
        I.e. Do 10 pressups, Do the splits for 2 minutes, Eat a banana are
        better tasks than Nebulous tasks like Be Healthy or Work Out More
      </ion-item>
      <task-description-component
        ref="editDetails"
        :modelData="modelData"
        :namePlaceHolder="newTaskName"
        isReadOnly="false"
      />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonButton,
  IonButtons,
  IonBackButton,
  toastController,
  IonItem,
} from "@ionic/vue";
import TaskDescriptionComponent from "@/views/Components/TaskDescriptionComponent.vue";
import { add } from "ionicons/icons";
import { defineComponent } from "vue";
import { TodoItem, useTodoStore } from "@/store/todoItems";
import { useRouter } from "vue-router";
import { analyticsLog } from "@/helpers/Analytics";

export default defineComponent({
  name: "AddPageCustom",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonItem,
    IonTitle,
    IonToolbar,
    IonButton,
    IonButtons,
    IonBackButton,
    TaskDescriptionComponent,
  },
  data() {
    return {
      passedCheck: false,
    };
  },
  setup() {
    const title = "Add Task";
    const todoItems = useTodoStore();
    const router = useRouter();
    const rnd = Math.floor(Math.random() * 8999) + 1000;
    const newTaskName = "New Task " + rnd;
    const modelData: TodoItem | null = {
      id: "",
      name: "",
      desc: "",
      storyPoints: 1,
      everyXDays: 1,
      lastDone: 1,
      nextDue: 2,
      score: 0,
      lastUpdatedUTC: 0,
      authorId: "",
      deleted: false,
    };
    return { add, todoItems, title, router, modelData, newTaskName };
  },
  methods: {
    checkForm() {
      const nameFilled = this.modelData.name != "";
      const everyXDaysFilled = this.modelData.everyXDays > 0;
      this.passedCheck = nameFilled && everyXDaysFilled;
    },
    async AddTapped() {
      const refData: any = this.$refs.editDetails;
      const formData = refData.localData as TodoItem;

      if (formData.name == undefined || formData.name == "") {
        formData.name = this.newTaskName;
      }

      this.todoItems.addTodoItem({
        id: "-1", // this will get set inside addTodoItem func
        name: formData.name,
        desc: formData.desc,
        storyPoints: formData.storyPoints,
        everyXDays: formData.everyXDays,
        lastDone: -1,
        nextDue: -1,
        score: -1,
        lastUpdatedUTC: 0,
        authorId: "", // this will get set inside addTodoItem func
        deleted: false,
      });

      analyticsLog("CustomTaskAdded");
      const toast = await toastController.create({
        message: "Task " + formData.name + " Added",
        duration: 1500,
        position: "bottom",
      });

      await toast.present();

      this.todoItems.calculateScores();
      this.router.go(-2);
    },
  },
});
</script>

<style scoped>
</style>
