<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-card @click="createTapped">
        <ion-card-header>
          <ion-card-title>Create My Own Task</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-item>
        <ion-grid>
          <ion-row>
            <div class="ion-text-center">
              <h3>- OR -</h3>
              Select as many tasks as you want from below <br />
              Hint: The more the better. (You can customise or delete any of the
              tasks later) <br />
              <br />
            </div>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-card
        :key="item.name"
        v-for="item in addTaskItems.addTaskItems"
        @click="addTaskItems.toggleAddItemSelected(item)"
      >
        <ion-card-header>
          <ion-card-title
            >{{ prependTextForAddItemSelected(item.selected) }}
            {{ item.name }}</ion-card-title
          >
          <ion-card-subtitle>{{ item.subtitle }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-content>

    <ion-footer v-show="addTaskItems.addTasksSelectedCount > 0">
      <ion-toolbar>
        <ion-card @click="addSelectedTapped">
          <ion-card-header>
            <ion-card-title>
              ✅ Add {{ addTaskItems.addTasksSelectedCount }} new
              Tasks</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonButtons,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonBackButton,
  IonCard,
  IonCardHeader,
  IonCardSubtitle,
  IonCardTitle,
  IonGrid,
  IonRow,
  IonItem,
  toastController,
  IonFooter,
} from "@ionic/vue";
import { add } from "ionicons/icons";
import { defineComponent } from "vue";
import { useTodoStore } from "@/store/todoItems";
import { useAddTaskStore } from "@/store/addTaskItems";
import { analyticsLog } from "@/helpers/Analytics";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "AddPage",
  components: {
    IonContent,
    IonHeader,
    IonButtons,
    IonPage,
    IonTitle,
    IonToolbar,
    IonBackButton,
    IonCard,
    IonItem,
    IonCardHeader,
    IonCardTitle,
    IonCardSubtitle,
    IonGrid,
    IonRow,
    IonFooter,
  },
  data() {
    return {
      passedCheck: false,
    };
  },
  setup() {
    const title = "Add a Task";
    const todoItems = useTodoStore();
    const addTaskItems = useAddTaskStore();
    const router = useRouter();

    return { add, todoItems, title, router, addTaskItems };
  },
  methods: {
    prependTextForAddItemSelected(selected: boolean) {
      return selected ? "🔴" : "⭕️";
    },
    async createTapped() {
      analyticsLog("AddCustomClicked");
      this.router.push("/add/custom");
    },
    async addSelectedTapped() {
      const tasksCount = this.addTaskItems.addTasksSelectedCount;
      this.addTaskItems.addSelectedItems();
      analyticsLog("AddDefaultClicked" + tasksCount);
      const toast = await toastController.create({
        message: "Added " + tasksCount + " new tasks",
        duration: 1500,
        position: "bottom",
      });

      await toast.present();
      this.todoItems.calculateScores();
      this.router.back();
    },
  },
});
</script>

<style scoped>
</style>
