<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-button @click="deleteTapped">Delete</ion-button>
      <ion-button @click="updateTapped">Update</ion-button>
      <ion-item>
        <pre>{{ analyticsText() }}</pre>
      </ion-item>
      <task-description-component
        ref="editDetails"
        v-if="id__ != ''"
        :modelData="itemData"
        isReadOnly="false"
      />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonItem,
  IonToolbar,
  IonButton,
  IonButtons,
  IonBackButton,
  alertController,
  toastController,
} from "@ionic/vue";
import { add } from "ionicons/icons";
import { defineComponent } from "vue";
import { TodoItem, useTodoStore } from "@/store/todoItems";
import TaskDescriptionComponent from "@/views/Components/TaskDescriptionComponent.vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "EditPage",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonItem,
    IonToolbar,
    IonButton,
    IonButtons,
    IonBackButton,
    TaskDescriptionComponent,
  },
  props: {
    id: String,
  },
  setup() {
    const title = "Edit Task";
    const todoItems = useTodoStore();
    const router = useRouter();
    const id__ = "";
    const itemData: TodoItem | null = {
      id: "",
      name: "",
      desc: "",
      storyPoints: 1,
      everyXDays: 1,
      lastDone: 1,
      nextDue: 2,
      score: 0,
      lastUpdatedUTC: 0,
      authorId: "",
      deleted: false,
    };

    return { add, todoItems, title, router, id__, itemData };
  },
  mounted() {
    this.id__ = this.$props.id ?? "";
    const itemData3 = this.todoItems.todoWithId(this.id__);
    if (itemData3 != null) {
      this.itemData = itemData3;
    }
  },
  methods: {
    analyticsText() {
      const data = this.todoItems.analyticsItems[this.id__];
      if (data == null || data == undefined) {
        return "";
      }
      const ret = data.timeSpans.reduce((prev, curr) => {
        function oneLineData() {
          if (curr.visualDisplay == "") {
            return (
              "Data for " + curr.elapsedDays + " days will be available later"
            );
          }
          return (
            curr.visualDisplay +
            " " +
            curr.timesDone +
            " times in " +
            curr.elapsedDays +
            " days. " +
            (100 * curr.score).toPrecision(3) +
            "%"
          );
        }

        const oneLine = oneLineData();

        return prev + " " + oneLine + "\n";
      }, "");

      return ret;
    },
    deleteTask() {
      if (this.itemData != null) {
        this.todoItems.removeTodoItem(this.itemData);
      }
      this.router.back();
    },
    async updateTapped() {
      const refData: any = this.$refs.editDetails;
      const formData = refData.localData as TodoItem;

      this.todoItems.updateTask(
        formData.id,
        formData.name,
        formData.desc,
        formData.storyPoints,
        formData.everyXDays
      );

      const toast = await toastController.create({
        message: "Task Updated",
        duration: 1500,
        position: "bottom",
      });

      await toast.present();
      this.router.back();
    },
    async deleteTapped() {
      const alert = await alertController.create({
        header: "Delete Task",
        subHeader: "Do you want to delete " + this.itemData.name + "?",
        buttons: [
          {
            text: "Cancel",
            role: "cancel",
            cssClass: "secondary",
          },
          {
            text: "OK",
            role: "destructive",
            cssClass: "warning",
            handler: () => {
              this.deleteTask();
            },
          },
        ],
      });
      await alert.present();
    },
  },
});
</script>

<style scoped>
</style>
