<template>
  <ion-page id="main-content">
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button v-if="firebaseAccountActivated" id="click-trigger"
            ><ion-icon :src="options"
          /></ion-button>
          <ion-popover
            trigger="click-trigger"
            dismiss-on-select="true"
            trigger-action="click"
          >
            <ion-button @click="userAccountClicked" class="ion-padding"
              >User Account Online</ion-button
            >
            <ion-button @click="aboutAppClicked" class="ion-padding"
              >About this App</ion-button
            >
          </ion-popover>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button @click="AddTapped">
          <ion-icon :src="add" />
        </ion-fab-button>
      </ion-fab>

      <introduction-item v-if="liveTasks == 0" />
      <ion-list v-else>
        <task-item-register v-if="todoItems.shouldShowLoginTask" />
        <task-item
          v-for="item in liveTasks"
          :key="item.id"
          :itemData="item"
          :itemDoneCount="this.todoItems.doneCountForTask(item.id)"
          :itemAnalyticsOverview="this.todoItems.getAnalysisOverview(item.id)"
          @taskEditSelected="taskEditSelected"
          @taskDoneSelected="taskDoneSelected"
        />
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonButton,
  IonButtons,
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonFabButton,
  IonFab,
  IonIcon,
  IonList,
  alertController,
  IonPopover,
} from "@ionic/vue";
import { add, options } from "ionicons/icons";
import { defineComponent } from "vue";
import TaskItem from "./Components/TaskItem.vue";
import TaskItemRegister from "./Components/TaskItemRegister.vue";
import IntroductionItem from "./Components/IntroductionItem.vue";
import { useTodoStore, TodoItem } from "@/store/todoItems";
import { useRouter } from "vue-router";
import { firebaseConfig } from "../options";
import { analyticsLog } from "@/helpers/Analytics";

export default defineComponent({
  name: "HomePage",
  components: {
    IonButton,
    IonButtons,
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonFabButton,
    IonFab,
    IonIcon,
    IonList,
    TaskItem,
    IntroductionItem,
    IonPopover,
    TaskItemRegister,
  },
  setup() {
    const title = "Daily TODO";
    const todoItems = useTodoStore();
    const router = useRouter();
    return { add, options, todoItems, title, router };
  },
  computed: {
    firebaseAccountActivated() {
      return firebaseConfig.apiKey.length > 3;
    },
    liveTasks(): TodoItem[] {
      return this.todoItems.todoItems.filter((item) => !item.deleted);
    },
  },
  mounted() {
    this.todoItems.calculateScores();
  },
  methods: {
    async AddTapped() {
      analyticsLog("AddButtonPressed");
      this.router.push("/add");
      return;
    },
    aboutAppClicked() {
      analyticsLog("AboutButtonPressed");
      this.router.push("/about");
    },
    userAccountClicked() {
      analyticsLog("UserButtonPressed");
      this.router.push("/user");
    },
    taskEditSelected(task: TodoItem) {
      analyticsLog("TaskSelected");
      this.router.push(`/edit/${task.id}`);
    },
    taskDone(task: TodoItem) {
      analyticsLog("TaskDone");
      this.todoItems.doneToday(task);
      this.todoItems.calculateScores();
    },
    async taskDoneSelected(task: TodoItem) {
      const alert = await alertController.create({
        header: "Complete Task",
        subHeader: "Did you Complete " + task.name + " today?",
        buttons: [
          {
            text: "Cancel",
            role: "cancel",
            cssClass: "secondary",
          },
          {
            text: "Yes",
            cssClass: "primary",
            handler: () => {
              this.taskDone(task);
            },
          },
        ],
      });
      await alert.present();
    },
  },
});
</script>

<style scoped>
</style>
