<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <user-logged-in v-if="isLoggedIn" @showAlert="showAlert" />
      <user-login
        v-else-if="showLoginScreen"
        @registerNewTapped="registerNewTapped"
        @showAlert="showAlert"
      />
      <user-register
        v-else
        @loginInsteadTapped="loginInsteadTapped"
        @showAlert="showAlert"
      />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonButtons,
  IonBackButton,
  toastController,
} from "@ionic/vue";
import UserLoggedIn from "@/views/Components/UserLoggedIn.vue";
import UserLogin from "@/views/Components/UserLogin.vue";
import UserRegister from "@/views/Components/UserRegister.vue";

import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import network from "@/network/NetworkAccount";

export default defineComponent({
  name: "UserAccountPage",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonButtons,
    IonBackButton,
    UserLoggedIn,
    UserLogin,
    UserRegister,
  },
  computed: {
    isLoggedIn() {
      return network.isLoggedIn();
    },
  },
  data() {
    return {
      showLoginScreen: true,
    };
  },
  setup() {
    const title = "User Account";
    const router = useRouter();

    return { title, router };
  },
  methods: {
    async showAlert(message: string) {
      const toast = await toastController.create({
        message: message,
        duration: 1500,
        position: "bottom",
      });

      await toast.present();
    },
    registerNewTapped() {
      this.showLoginScreen = false;
    },
    loginInsteadTapped() {
      this.showLoginScreen = true;
    },
  },
});
</script>

<style scoped>
</style>
