<template>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Welcome to TO-DO Tasks APP!</ion-card-title>
      <ion-card-subtitle
        >This app aims to help you acheive your goals by keeping on top of your
        daily regular routine tasks
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      To Start with your first Task, Tap the + button
    </ion-card-content>
  </ion-card>
</template>

<script lang="ts">
import {
  IonCard,
  IonCardHeader,
  IonCardTitle,
  IonCardSubtitle,
  IonCardContent,
} from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "IntroductionItem",
  components: {
    IonCard,
    IonCardHeader,
    IonCardTitle,
    IonCardSubtitle,
    IonCardContent,
  },
});
</script>

<style scoped>
</style>
