<template>
  <ion-content>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input
        :readonly="isReadOnly"
        v-model="localData.name"
        :placeholder="safeNamePlaceHolder()"
        autocapitalize="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description (optional)</ion-label>
      <ion-input
        :readonly="isReadOnly"
        v-model="localData.desc"
        placeholder="Enter text"
        autocapitalize="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Story Points (optional)</ion-label>
      <ion-input
        type="number"
        :readonly="isReadOnly"
        v-model="localData.storyPoints"
        placeholder="Enter number"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Every X Days</ion-label>
      <ion-input
        type="number"
        :readonly="isReadOnly"
        v-model="localData.everyXDays"
        placeholder="Enter number"
      ></ion-input>
    </ion-item>
  </ion-content>
</template>

<script lang="ts">
import { IonItem, IonInput, IonLabel, IonContent } from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "TaskDescriptionComponent",
  components: {
    IonContent,
    IonItem,
    IonInput,
    IonLabel,
  },
  computed: {},
  props: ["modelData", "isReadOnly", "namePlaceHolder"],
  data() {
    const localData = this.modelData;
    return {
      localData,
    };
  },
  methods: {
    safeNamePlaceHolder() {
      if (this.namePlaceHolder == undefined || this.namePlaceHolder == "") {
        return "Enter text";
      }
      return this.namePlaceHolder;
    },
  },
});
</script>

<style scoped>
</style>
