<template>
  <ion-card>
    <ion-card-header v-if="true">
      <ion-card-title>🛑 Register Account! </ion-card-title>
      <ion-card-subtitle v-if="true"
        >Register an account to back up your data and share between different
        devices
      </ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" @click="registerTapped">Register</ion-button>
  </ion-card>
</template>

<script lang="ts">
import {
  IonCard,
  IonCardHeader,
  IonCardTitle,
  IonCardSubtitle,
  IonButton,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { analyticsLog } from "@/helpers/Analytics";

export default defineComponent({
  name: "TaskItemRegister",
  components: {
    IonCard,
    IonCardHeader,
    IonCardTitle,
    IonCardSubtitle,
    IonButton,
  },
  setup() {
    const router = useRouter();
    return { router };
  },
  methods: {
    registerTapped() {
      analyticsLog("RegisterOnListButtonPressed");
      this.router.push("/user");
    },
  },
});
</script>

<style scoped>
</style>
