<template>
  <ion-card>
    <ion-card-header v-if="true">
      <ion-card-title
        >{{ prependString() }} {{ itemData.name }}
      </ion-card-title>
      <ion-card-subtitle v-if="true"
        >{{ computedItemAnalyticsOverview }} Score: {{ itemData.score }} <br />
        {{ everyDaysString }} <br />
        Last Done: {{ lastDoneString }} <br />
        Done {{ itemDoneCount }} times <br />
        {{ nextScheduleString }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" @click="doneTapped">Done Today</ion-button>
    <ion-button fill="clear" @click="editTapped">More Info</ion-button>
  </ion-card>
</template>

<script lang="ts">
import {
  IonCard,
  IonCardHeader,
  IonCardTitle,
  IonCardSubtitle,
  IonButton,
} from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "TaskItem",
  components: {
    IonCard,
    IonCardHeader,
    IonCardTitle,
    IonCardSubtitle,
    IonButton,
  },
  computed: {
    computedItemAnalyticsOverview() {
      if (!this.taskNeedsDoing) {
        return "";
      }
      return this.itemAnalyticsOverview;
    },
    lastDoneString() {
      if (this.itemData.lastDone == -1) {
        return "Never";
      }
      const localeOffsetMillis = 1000 * 60 * new Date().getTimezoneOffset();
      return new Date(
        this.itemData.lastDone + localeOffsetMillis
      ).toLocaleDateString();
    },
    everyDaysString() {
      const everyDayCount = this.itemData.everyXDays;
      if (everyDayCount == 1) {
        return "Every Day";
      }
      return "Every " + everyDayCount + " Days";
    },
    taskNeedsDoing() {
      return this.itemData.score <= 0;
    },
    nextScheduleString() {
      const localeOffsetMillis = 1000 * 60 * new Date().getTimezoneOffset();

      return this.taskNeedsDoing
        ? ""
        : "Next Required: " +
            new Date(
              this.itemData.nextDue + localeOffsetMillis
            ).toLocaleDateString();
    },
  },
  props: ["itemData", "itemDoneCount", "itemAnalyticsOverview"],
  methods: {
    doneToday() {
      const oneDayMilli = 1000 * 60 * 60 * 24;
      const localeOffsetMillis = 1000 * 60 * new Date().getTimezoneOffset();

      const now = Date.now() - localeOffsetMillis;
      const today = now - (now % oneDayMilli);

      const lastDone = this.itemData.lastDone;
      const lastDoneMidnight = lastDone - (lastDone % oneDayMilli);

      return today == lastDoneMidnight;
    },
    prependString() {
      if (this.doneToday()) {
        return "🟢";
      } else if (this.taskNeedsDoing) {
        return "🛑";
      }
      return "";
    },
    editTapped() {
      this.$emit("taskEditSelected", this.itemData);
    },
    doneTapped() {
      this.$emit("taskDoneSelected", this.itemData);
    },
  },
});
</script>

<style scoped>
</style>
