<template>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-item>
      todo T&Cs v1.0.1 2022/12/7 <br />
      By using this app and related online functions you agree with the
      following conditions <br /><br />

      1. You are aged over 18 <br />
      2. You agree not to enter any self-identifying, sensitive, copyright
      infringing, harmful or illegal content. For example, 'Call Gas company' is
      ok, but 'Call Gas company account: 12345 password abcdef' is not.<br />
      3. Data you enter in to the app is held centrally on an online database.
      Parts of this information is un-encrypted and therefore accessible by
      developers on this project<br />
      4. This app is in Development, served as an as-is basis. Occasional errors
      might occur now and again. No responsibility is accepted for the
      loss/corruption of data or subsequent issues as a result.<br />
      5. In the future, ads or IAP items may be added to the app. Related
      privacy T&Cs would then apply<br />
      <br />
      <br />
    </ion-item>
    <ion-item>
      <ion-checkbox @click="tandcsIsChecked = !tandcsIsChecked" slot="start" />
      I agree with the T&Cs listed above
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        :readonly="isReadOnly"
        v-model="email"
        placeholder="hello@email.com"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        :readonly="isReadOnly"
        v-model="password"
        :placeholder="password"
        type="password"
      ></ion-input>
    </ion-item>
    <ion-button :disabled="!tandcsIsChecked" @click="registerTapped"
      >Register</ion-button
    >
    <ion-button @click="alreadyHaveAccountTapped"
      >Already have an account?</ion-button
    >
  </ion-card>
</template>

<script lang="ts">
import {
  IonItem,
  IonCard,
  IonCardHeader,
  IonCardTitle,
  IonButton,
  IonInput,
  IonLabel,
  IonCheckbox,
} from "@ionic/vue";
import { defineComponent } from "vue";
import network from "@/network/NetworkAccount";
import { useRouter } from "vue-router";
import { useTodoStore } from "@/store/todoItems";
import { createAlert } from "@/helpers/Alert";
import { analyticsLog } from "@/helpers/Analytics";

export default defineComponent({
  name: "UserRegister",
  components: {
    IonItem,
    IonCard,
    IonCardHeader,
    IonCardTitle,
    IonButton,
    IonInput,
    IonLabel,
    IonCheckbox,
  },
  setup() {
    const router = useRouter();
    const isReadOnly = false;
    const email = "";
    const password = "";
    const todoStore = useTodoStore();
    const alertHandle: any = null; // TODO: any needs to be changed to correct type
    return { isReadOnly, email, password, router, todoStore, alertHandle };
  },
  data() {
    const tandcsIsChecked = false;
    return {
      tandcsIsChecked,
    };
  },
  computed: {},
  props: [],
  methods: {
    async registerTapped() {
      try {
        analyticsLog("RegisterTapped");
        this.alertHandle = await createAlert();
        await this.alertHandle.present();
        console.log("registering " + this.email);
        await network.registeraccount(this.email, this.password);
        this.todoStore.refreshTaskAuthorIds();
        this.$emit("showAlert", "Registered!");
        this.todoStore.calculateScores();
        this.router.back();
      } catch (e) {
        analyticsLog("RegisterFailed");
        console.log("register error" + e);
        this.$emit("showAlert", "Error: " + e);
      } finally {
        analyticsLog("RegisterSuccess");
        await this.alertHandle.dismiss();
      }
    },
    alreadyHaveAccountTapped() {
      this.$emit("loginInsteadTapped");
    },
  },
});
</script>

<style scoped>
</style>
