<template>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Log in</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        :readonly="isReadOnly"
        v-model="email"
        placeholder="hello@email.com"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        :readonly="isReadOnly"
        v-model="password"
        :placeholder="password"
        type="password"
      ></ion-input>
    </ion-item>
    <ion-button @click="loginTapped">Login</ion-button>
    <ion-button @click="registerNewTapped">Register a New Account</ion-button>
  </ion-card>
</template>

<script lang="ts">
import {
  IonItem,
  IonCard,
  IonCardHeader,
  IonCardTitle,
  IonButton,
  IonInput,
  IonLabel,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import network from "@/network/NetworkAccount";
import { useTodoStore } from "@/store/todoItems";
import { createAlert } from "@/helpers/Alert";
import { analyticsLog } from "@/helpers/Analytics";

export default defineComponent({
  name: "UserLogin",
  components: {
    IonItem,
    IonCard,
    IonCardHeader,
    IonCardTitle,
    IonButton,
    IonInput,
    IonLabel,
  },
  setup() {
    const router = useRouter();
    const isReadOnly = false;
    const email = "";
    const password = "";
    const todoStore = useTodoStore();
    const alertHandle: any = null; // TODO: any needs to be changed to correct type
    return { isReadOnly, email, password, router, todoStore, alertHandle };
  },
  computed: {},
  props: [],
  methods: {
    async loginTapped() {
      try {
        analyticsLog("LoginAttempt");
        this.alertHandle = await createAlert();
        await this.alertHandle.present();
        console.log("logging in..");
        await network.login(this.email, this.password);
        this.todoStore.refreshTaskAuthorIds();
        this.$emit("showAlert", "Logged In!");
        await network.syncTasks();
        this.todoStore.calculateScores();
        analyticsLog("LoginSucceed");
        console.log("logged in!");
        this.router.back();
      } catch (e) {
        analyticsLog("LoginFail");
        console.log("Error: " + e);
        this.$emit("showAlert", "Error: " + e);
      } finally {
        await this.alertHandle.dismiss();
      }
    },
    registerNewTapped() {
      this.$emit("registerNewTapped");
    },
  },
});
</script>

<style scoped>
</style>
