<template>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ accountName }} </ion-card-title>
    </ion-card-header>
    <ion-button @click="syncTapped">Cloud Sync</ion-button> <br />
    <ion-button @click="logoutTapped">Logout</ion-button> <br />

    <ion-button v-if="!showDeleteConfirmation" @click="deleteTapped"
      >Delete User</ion-button
    >
    <br />
    <div v-if="showDeleteConfirmation">
      <ion-label position="fixed"
        >Enter Password to Confirm Account Deletion</ion-label
      ><br />
      <ion-input
        v-model="confirmPassword"
        placeholder="password"
        type="password"
      ></ion-input
      ><br />
      <ion-button
        :disabled="confirmPassword == ''"
        @click="deleteTappedConfirmed"
        >Confirm Delete User</ion-button
      >
      <br />
      <ion-button @click="cancelDeleteTapped">Cancel</ion-button> <br />
    </div>
  </ion-card>
</template>

<script lang="ts">
import {
  IonCard,
  IonCardHeader,
  IonCardTitle,
  IonButton,
  alertController,
  IonInput,
  IonLabel,
} from "@ionic/vue";
import { createAlert } from "@/helpers/Alert";
import { defineComponent } from "vue";
import network from "@/network/NetworkAccount";
import { useRouter } from "vue-router";
import { useTodoStore } from "@/store/todoItems";

export default defineComponent({
  name: "UserLoggedIn",
  components: {
    IonCard,
    IonCardHeader,
    IonCardTitle,
    IonButton,
    IonInput,
    IonLabel,
  },
  setup() {
    const todoItems = useTodoStore();
    const router = useRouter();
    const alertHandle: any = null; // TODO: any needs to be changed to correct type
    return { router, todoItems, alertHandle };
  },
  computed: {
    accountName() {
      return network.getAccountName();
    },
  },
  data() {
    return {
      showDeleteConfirmation: false,
      confirmPassword: "",
    };
  },
  props: [],
  methods: {
    async alertShow(show: boolean) {
      try {
        if (show) {
          this.alertHandle = await createAlert();
          await this.alertHandle.present();
        } else {
          await this.alertHandle.dismiss();
        }
      } catch (e) {
        console.log("alertShow Error: " + e);
      }
    },
    async deleteTappedConfirmed() {
      const alert = await alertController.create({
        header: "Delete User?",
        subHeader:
          "This is permament, all your details and data will be deleted",
        buttons: [
          {
            text: "Cancel",
            role: "cancel",
            cssClass: "secondary",
          },
          {
            text: "Delete",
            role: "destructive",
            cssClass: "warning",
            handler: async () => {
              try {
                await this.alertShow(true);
                await network.deleteUser(
                  this.accountName,
                  this.confirmPassword
                );
                await network.logout();
                this.todoItems.removeallTodoItems();
                this.$emit("showAlert", "User Deleted");
                await this.alertShow(false);
                this.router.back();
              } catch (e) {
                await this.alertShow(false);
                this.$emit("showAlert", "Error: " + e);
              }
            },
          },
        ],
      });
      await alert.present();
    },
    async deleteTapped() {
      const alert = await alertController.create({
        header: "Delete User?",
        subHeader:
          "This is permament, all your details and data will be deleted",
        buttons: [
          {
            text: "Cancel",
            role: "cancel",
            cssClass: "secondary",
          },
          {
            text: "OK",
            role: "destructive",
            cssClass: "warning",
            handler: () => {
              this.showDeleteConfirmation = true;
            },
          },
        ],
      });
      await alert.present();
    },
    async cancelDeleteTapped() {
      this.confirmPassword = "";
      this.showDeleteConfirmation = false;
    },
    async syncTapped() {
      try {
        this.alertShow(true);
        this.$emit("showAlert", "Syncing tasks...");
        await network.syncTasks();
        this.$emit("showAlert", "Synced successfully");
        this.router.back();
      } catch (e) {
        this.$emit("showAlert", "Error: " + e);
      } finally {
        this.alertShow(false);
      }
    },
    async logoutTapped() {
      try {
        this.alertShow(true);
        console.log("Logging out..");
        await network.logout();
        this.todoItems.removeallTodoItems();
        this.$emit("showAlert", "Logged Out!");
        await this.alertShow(false);
        this.router.back();
      } catch (e) {
        console.log("Error: " + e);
        this.$emit("showAlert", "Error: " + e);
        this.alertShow(false);
      }
    },
  },
});
</script>

<style scoped>
</style>
